:root {
  --primaria: #4f46e5;
  --secundaria: #7c3aed;
  --escuro: #0f172a;
  --maisescuro: #0a0f1c;
  --claro: #e2e8f0;
  --vidro: rgba(255, 255, 255, 0.1);

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--escuro);
  color: var(--claro);
  overflow-x: hidden;
}

.navegacao {
  position: fixed;
  background: rgb(15, 23, 42, 0.8);
  width: 100%;
  z-index: 1000;
  top: 0;
  padding: 0.7rem;
}

.menu {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 0.7rem;
}

.menu-link {
  text-decoration: none;
  color: var(--claro);
  font-weight: 500;
  position: relative;
  padding: 0.5rem;
}

.menu-link::after {
  content: '';
  height: 2px;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  background: linear-gradient(90deg, var(--primaria), var(--secundaria));
  transition: 0.5s ease;
}

.menu-link:hover::after {
  width: 100%;

}

.cabecalho {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.foto-perfil {
  margin-top: 130px;
  width: 280px;
  height: 280px;
  box-shadow: 0 0 20px rgba(79, 70, 229, 0.3);
  border-radius: 50%;
  border: 2px solid var(--claro);
  animation: moverParticulas 3s ease infinite;
}

.h1 {
  font-size: 3.5rem;
  color: var(--primaria);
  font-weight: bold;
  margin-top: 20px;

}

.cabecalho-sub-titulo {
  font-size: 1.5rem;
  color: var(--claro);

}

.sobre {
  padding: 6rem 2rem;
}

.sobre-titulo {
  text-align: center;
  font-size: 3rem;
  color: var(--claro);
  margin-bottom: 20px;
}

.sobre-caixa {
  padding: 2rem;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 16px;
  border: 1px solid var(--vidro);
  backdrop-filter: blur(10px);
  background: rgb(255, 255, 255, 0.1);
}

.sobre-paragrafo {
  text-align: center;
  font-size: 1.2rem;
}

.habilidades {
  padding: 6rem 2rem;
  display: flex;
  flex-direction: column;
  /* Adiciona o layout em coluna */
  align-items: center;
  /* Centraliza o conteúdo */
  text-align: center;

}

.habilidades-caixa {
  cursor: pointer;
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
}

.habilidades-card {

  border-radius: 16px;
  flex-grow: 1;
  flex-basis: 200;
  border: 1px solid var(--vidro);
  padding: 2.3rem;
  max-height: 100px;
  width: 200px;
  transition: all 1s ease;
}

.habilidades-card:hover {
  transform: scale(0.9);
}

#habilidades-js {
  background-color: #EFD81D;
  color: #0a0f1c;
}

.react {
  width: 140px;
  transition: all 2s ease;
  animation: rodar 2s ease infinite;
}

.habilidades-imagem {
  border-radius: 16px;
  flex-grow: 1;
  flex-basis: 200;
  border: 1px solid var(--vidro);
  padding: 1.1rem;
  width: 200px;
  transition: all 1s ease;
  max-height: 100px;
  background-color: var(--escuro);



}




@keyframes rodar {
  0% {
    transform: rotate(0)
  }

  100% {
    transform: rotate(360deg);
    ;
  }
}

.habilidades-p {
  font-size: 1.3rem;
  font-weight: bold;

}

#habilidades-css {
  background-color: #254BDD;
  color: var(--claro);
}

.habilidades-imagem:hover {
  transform: scale(0.9);

}

#habilidades-tw {
  background-color: #DC4D25;
}

.projetos {
  padding: 6rem 2rem;
}



.habilidades h1 {
  margin-bottom: 4rem;
  /* Cria um espaçamento abaixo do título */
  font-size: 2.5rem;
  /* Ajusta o tamanho da fonte, se necessário */
  color: var(--claro);
  /* Muda a cor do título */
}


.projetos-card {
  background: rgb(255, 255, 255, 0.1);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  border: 1px solid var(--vidro);
  overflow: hidden;
  transition: all 0.5s ease;
}

.projetos-imagem {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.projetos-titulo {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.projetos-card:hover {
  box-shadow: 0 10px 20px rgba(79, 70, 229, 0.2);
  transform: translateY(-10px) scale(1.03);
  transition: all 0.5s ease;
  cursor: pointer;
}

.projetos-caixa {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.info-projetos {
  margin-bottom: 7px;
}

.caixa-textos-projeto {
  padding: 1.5rem;
}

.paragrafos-projetos {
  color: rgb(226, 232, 240, 0.8);
  line-height: 1.25rem;
}

.contatos {
  padding: 6rem 2rem;
}

.contatos-titulo {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 50px;
}

.formulario-contato {
  max-width: 600px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  padding: 2rem;
  border: 1px solid var(--vidro);
  border-radius: 16px;
}

.grupo-form {
  margin-bottom: 1.5rem;
}

.campo-form {
  width: 100%;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  color: var(--claro);
  border: 1px solid var(--vidro);
  font-size: 1rem;
}

.campo-form:focus {

  border-color: var(--secundaria);
  box-shadow: 0 0 10px rgba(79, 70, 229, 0.5);
}

.botao-form {
  color: var(--claro);
  background: linear-gradient(40deg, var(--primaria), var(--secundaria));
  padding: 1rem 2rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  transition: 0.3s ease;
}


.botao-form:hover {
  background: linear-gradient(40deg, var(--secundaria), var(--primaria));
  transform: translateY(-4px);
  box-shadow: 0 4px 10px rgba(79, 70, 229, 0.5);
}

.particulas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.5;
  background: radial-gradient(circle at 10% 20%, var(--primaria) 0%, transparent 25%),
    radial-gradient(circle at 90% 80%, var(--secundaria) 0%, transparent 25%) var(--maisescuro);
}

@keyframes moverParticulas {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-30px);
  }
}

@media (max-width: 320px) {
  .cabecalho {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .h1 {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .menu {
    text-align: center;
    gap: 0.5rem;
    font-size: 0.8rem;
  }

  .projetos-card {
    scale: 1;
    margin-right: 40px;
  }
}

@media (max-width: 321px) {
  .cabecalho {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .h1 {
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .menu {
    text-align: center;
    gap: 0.5rem;
    font-size: 0.8rem;
  }

  .projetos-card {
    scale: 1;
    margin-right: 40px;
  }
}

@media (max-width: 400px) {
  .cabecalho {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .h1 {
    text-align: center;
    justify-content: center;
    align-items: center;
  }

  .menu {
    text-align: center;
    margin-right: 8px;
  }
}

/* From Uiverse.io by vinodjangid07 */
.tooltip-container {
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 17px;
  border-radius: 10px;
}

.tooltip {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  border-radius: 15px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
}

.profile {
  background: #2a2b2f;
  border-radius: 10px 15px;
  padding: 10px;
  border: 1px solid #52382f;
}

.tooltip-container:hover .tooltip {
  top: -150px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.icon {
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
}

.layer {
  width: 55px;
  height: 55px;
  transition: transform 0.3s;
}

.icon:hover .layer {
  transform: rotate(-35deg) skew(20deg);
}

.layer span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 15px;
  transition: all 0.3s;
}

.layer span,
.text {
  color: #e6683c;
  border-color: #e6683c;
}

.icon:hover.layer span {
  box-shadow: -1px 1px 3px #e6683c;
}

.icon .text {
  position: absolute;
  left: 50%;
  bottom: -5px;
  opacity: 0;
  font-weight: 500;
  transform: translateX(-50%);
  transition: bottom 0.3s ease, opacity 0.3s ease;
}

.icon:hover .text {
  bottom: -35px;
  opacity: 1;
}

.icon:hover .layer span:nth-child(1) {
  opacity: 0.2;
}

.icon:hover .layer span:nth-child(2) {
  opacity: 0.4;
  transform: translate(5px, -5px);
}

.icon:hover .layer span:nth-child(3) {
  opacity: 0.6;
  transform: translate(10px, -10px);
}

.icon:hover .layer span:nth-child(4) {
  opacity: 0.8;
  transform: translate(15px, -15px);
}

.icon:hover .layer span:nth-child(5) {
  opacity: 1;
  transform: translate(20px, -20px);
}

.instagramSVG {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%);
  background: linear-gradient(45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
}

.user {
  display: flex;
  gap: 10px;
}

.img {
  width: 50px;
  height: 50px;
  font-size: 25px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.name {
  font-size: 17px;
  font-weight: 700;
  color: #e6683c;
}
.eu-png{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 0;
  color: #fff;
}

.about {
  color: #ccc;
  padding-top: 5px;
}

.rodape{
  padding: 3rem;
  display: flex;
  justify-content: center;
  gap: 1rem;

  
}

.footer{
  padding: 0.8rem;
  display: flex;
  justify-content: center;
  background-color: #401ea0;

}

.titulo-footer{
  text-align: center;
  align-items: center;
}

.rodape-tolltip{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.git{
  font-size: 50px;
  color: white;
}